modules = ["vue-node-20", "nodejs-20"]
run = "npm run dev"

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[[ports]]
localPort = 3030
externalPort = 3000
exposeLocalhost = true

[agent]
expertMode = true
